h1{
    color:sienna;
}

img{
    width: 400px;
}

#thirdDiv{
    height:800px;
    width:600px;
    background-color:antiquewhite;
    padding: 50px;
    border: 5px dashed rgb(70, 70, 70);
}

#spanId{
    font-size: 18px;
    margin: 50px;
} 